#Tone {display: flex; flex-direction: column; justify-content: center; align-items: center;}
#Tone button {margin: 30px}
.boxClass {background-color: white; border: 1px solid grey;}
.boxClass:hover {background-color:rgb(217, 241, 241)}
.rowClass {display: flex; justify-content: flex-start;}
main {
    display: flex;
    justify-content: center;
}